body {
    margin: 0;
    padding: 0;
}

#main {
    background: #fff;
    padding: 5px 5px;

    width: 400px;
    min-width: 400px;
    max-width: 400px;

    min-height: 200px;
    max-height: 400px;
    overflow: scroll;
}

#url {
    font-size: 14pt;
    color: #333;
    width: 350px;
    margin: 0;
    padding: 0;
    height: 30px;
    vertical-align: middle;
    outline: none;
}

#status {
    padding-bottom: 10px;
}

#pages {
    min-height: 300px;
    max-height: 300px;
    height: 300px;
    overflow: scroll;
    padding: 5px 5px;
}

#about {
    border-top: 1px solid #ccc;
    padding: 5px 0;
}

.goto {
    
}

.install {
    float: right;
}

#about a {
    font-size: 12px;
    color: #060;
    font-style: italic;
    text-decoration: none;
    outline: none;
}

.page {
    padding-bottom: 10px;
}

.page .body {
    width: 350px;
    max-width: 350px;
    min-width: 350px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.page .title {
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.page .created {
    color: #777;
    font-size: 10px;
}

.page .delete {
    font-weight: bold;
    float: right;
    color: #900;
    cursor: pointer;
    display: none;
    line-height: 18px;
    font-size: 18px;
}

.page:hover .delete {
    display: block;
}

.add {
    cursor: pointer;
    color: #000099;
    font-weight: 800;
    margin: 0;
    padding: 0;
    width: 42px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 10pt;
    height: 30px;
}

